.story {
    width: 75%;
    margin: 0 auto;
    padding: 6rem;
    padding-left: 9rem; // 6 de base mas 2 que ocupa la imagen
    border-radius: 3px;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);  
    background-color: rgba($color-white, .6);
    transform: skewX(-10deg);
    //background-image: linear-gradient();

    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 6rem;
    }

    @include respond(phone) {
        width: 100%;
        padding: 4rem;
        padding-left: 6rem;
        transform: skewX(0);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-2rem) skewX(10deg); // La mejor forma de manipular un elemento que esta flotado
        position: relative;

        @include respond(phone) {
            transform: translateX(-1rem) skewX(0);
        }
    }

    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
    }

    &__text {
        transform: skewX(10deg);
        
        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        font-size: 1.7rem;
        text-transform: uppercase;
        text-align: center;
        color: $color-white;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);   
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}